figure { 
    display: inline-block;
    text-align: center;
}
body {
    background-color: #312C4C;
    color: #c7784d;
}

/*Header style*/

header {
    background-color: #2A4965;
    color: #AEA74D;
    border-radius: ;
    
}
.navigation_panel{
    padding: 0px 0px 2px 0px;
    text-align: center;

}

.top_text{
    margin:1% 1%;
    padding: 0.5% 0px 0px 0px;
}

.abutton{
    display: inline-block; 
    padding: 0.5% 0.75%;
    /* margin: 0px 0px 0px 0px; */
    background-color: crimson;
    transition: transform 0.4s;
    display: inline-block;
    border: 10px ;
    border-color: black;
    border-radius: 10% 
}

.abutton:hover{
    transform: scale(110%);
    border-radius: 20%;
}

.test{

}

/*Main page style*/

.main_poll{
    /* text-decoration: none; */
    margin: 10px 5px 10px 5px;
    border-radius: 2px;
        background-image: 
        linear-gradient(250deg, 
            hotpink 0%,
            rgb(182, 98, 38) 50%,
            aquamarine 100%
        );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
    display: inline-block;
    transition: 0.5s;
}

.main_poll:hover{
    background-image:
        linear-gradient(250deg, 
            aquamarine 0%,
            rgb(182, 98, 38) 50%,
            hotpink 100%
        );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(105%);
}

/* Categories style */

.category{
    height: 10%;
}

.cat_descr{
    display: inline-block;
    height: 10%;
    width: 50%;
    text-align: center;
    /* transform: translateY(-200%); */
}
