figure { 
    display: inline-block;
}
/*Header style*/

header {
    background-color: blanchedalmond;
    
    
}
.navigation_panel{
    padding: 2px 2px ;
}

.abutton{
    display: inline-block;
    padding: 0px 5px;
    background-color: crimson;
    transition: transform 0.4s;
}

.abutton:hover{
    transform: scale(110%);
}