figure { 
    display: inline-block;
}
/*Header style*/

header {
    background-color: blanchedalmond;
    
    
}
.navigation_panel{
    padding: 0px 0px 2px 0px;
    text-align: center;

}

.abutton{
    display: inline-block; 
    margin: 0px 0px 0px 0px;
    background-color: crimson;
    transition: transform 0.4s;
    display: inline-block;
}

.abutton:hover{
    transform: scale(110%);
}

.test{

}

/*Mainb page style*/

.main_poll{
    margin: 10px 5px 10px 5px;
    border-radius: 2px;
    border: 5px solid hotpink;
    display: inline-block;
    transition: 0.5s;
}

.main_poll:hover{
    border: 5px solid aquamarine;
    transform: scale(105%);
}

/* Categories style */

.cat_descr{
    display: inline-block;
    width: 50%;
    text-align: center;
    transform: translateY(-200%);
}