figure { 
    display: inline-block;
    text-align: center;
}
/*Header style*/

header {
    background-color: blanchedalmond;
    
    
}
.navigation_panel{
    padding: 0px 0px 2px 0px;
    text-align: center;

}

.abutton{
    display: inline-block; 
    margin: 0px 0px 0px 0px;
    background-color: crimson;
    transition: transform 0.4s;
    display: inline-block;
}

.abutton:hover{
    transform: scale(110%);
}

.test{

}

/*Mainb page style*/

.main_poll{
    /* text-decoration: none; */
    margin: 10px 5px 10px 5px;
    border-radius: 2px;
        background-image: 
        linear-gradient(250deg, 
            hotpink 0%,
            rgb(182, 98, 38) 50%,
            aquamarine 100%
        );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
    display: inline-block;
    transition: 0.5s;
}

.main_poll:hover{
    background-image:
        linear-gradient(250deg, 
            aquamarine 0%,
            rgb(182, 98, 38) 50%,
            hotpink 100%
        );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(105%);
}

/* Categories style */

.cat_descr{
    display: inline-block;
    width: 50%;
    text-align: center;
    /* transform: translateY(-200%); */
}