<!-- {% load static %} -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/static/style.css?{% now "U" %}"/>

</head>
<body>
    <header class="top"> Все сосуды с секретом.ком
         <nav class="navigation_panel">
             <a class="abutton" href="/">Главная</a>
             <a class="abutton" href="/vessels">Все Сосуды</a>
             <a class="abutton" href="/poll">Опросик</a>
         </nav>
    </header>

    <article>
        <figure>
                <img src="https://www.vsp.ru/files/2015/07/14/36412.jpg"
                 alt="тут дожна быть картинка сосуда"
                 width="150px">
                <figcaption>название категории</figcaption>
        </figure>
        <p class="cat_descr" >Lorem ipsum dolor sit amet consectetur, adipisicing
             elit. Veritatis, commodi? Totam ea labore maiores rerum vel cumque
              fugit corporis dolorem veniam sequi nulla, inventore itaque eum consectetur
               fuga incidunt omnis?</p>
    </article>
        <article>
                        <figure>
                <img src="https://www.vsp.ru/files/2015/07/14/36412.jpg"
                 alt="тут дожна быть картинка сосуда"
                 width="150px">
                <figcaption>название категории</figcaption>
            </figure>
        <p class="cat_descr" >Lorem ipsum dolor sit amet consectetur, adipisicing
             elit. Veritatis, commodi? Totam ea labore maiores rerum vel cumque
              fugit corporis dolorem veniam sequi nulla, inventore itaque eum consectetur
               fuga incidunt omnis?</p>
        </article>
         <article>
            <figure>
                <img src="https://www.vsp.ru/files/2015/07/14/36412.jpg"
                 alt="тут дожна быть картинка сосуда"
                 width="150px">
                <figcaption>название категории</figcaption>
            </figure>
        <p class="cat_descr" >Lorem ipsum dolor sit amet consectetur, adipisicing
             elit. Veritatis, commodi? Totam ea labore maiores rerum vel cumque
              fugit corporis dolorem veniam sequi nulla, inventore itaque eum consectetur
               fuga incidunt omnis?</p>
         </article>
        <article>
                        <figure>
                <img src="https://www.vsp.ru/files/2015/07/14/36412.jpg"
                 alt="тут дожна быть картинка сосуда"
                 width="150px">
                <figcaption>название категории</figcaption>
            </figure>
        <p class="cat_descr" >Lorem ipsum dolor sit amet consectetur, adipisicing
             elit. Veritatis, commodi? Totam ea labore maiores rerum vel cumque
              fugit corporis dolorem veniam sequi nulla, inventore itaque eum consectetur
               fuga incidunt omnis?</p>
        </article>
         <article>
            <figure>
                <img src="https://www.vsp.ru/files/2015/07/14/36412.jpg"
                 alt="тут дожна быть картинка сосуда"
                 width="150px">
                <figcaption>название категории</figcaption>
            </figure>
        <p class="cat_descr" >Lorem ipsum dolor sit amet consectetur, adipisicing
             elit. Veritatis, commodi? Totam ea labore maiores rerum vel cumque
              fugit corporis dolorem veniam sequi nulla, inventore itaque eum consectetur
               fuga incidunt omnis?</p>
        <article>
            <figure>
                <img src="https://www.vsp.ru/files/2015/07/14/36412.jpg"
                 alt="тут дожна быть картинка сосуда"
                 width="150px">
                <figcaption>название категории</figcaption>
            </figure>
        <p class="cat_descr" >Lorem ipsum dolor sit amet consectetur, adipisicing
             elit. Veritatis, commodi? Totam ea labore maiores rerum vel cumque
              fugit corporis dolorem veniam sequi nulla, inventore itaque eum consectetur
               fuga incidunt omnis?</p>
        </article>
        

    <footer>
        <hr>
        <small>made by KengPenro (this part)</small>
    </footer>
</body>
</html>