<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'form_test_res_page' %}" method="post">
    {% csrf_token %}
        <label>
            да
            <input type="radio" name="test_no" value="да" >

            нет
            <input type="radio" name="test_yes" value="нет" >
        </label>
        <button type="submit">субмит</button>
    </form>
    {% if values %}
        <p>вы выбрали: {{ values }}, {{keys}}</p>
    {% endif %}
</body>
</html>