<!-- {% load static %} -->

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>MAIN PAGE HOORAY</title>
    <link rel="stylesheet" href="/static/style.css?{% now "U" %}"/>
</head>
<body>
    <header class="top"> 
        <p class="top_text">Все сосуды с секретом.ком </p>
         <nav class="navigation_panel">
             <a class="abutton" href="{% url 'vessels_page' %}">Все Сосуды</a>
             <a class="abutton" href="{% url 'categories_page' %}">Категории</a>
         </nav>
    </header>

    <main>
        <!-- <div class="main_poll" >  -->
             <a class="main_poll"  href="{% url 'poll_start' %}">Пройди тест и узнай, какой ты сосуд!!!</a>
        <!-- </div> -->
         <article>
            <figure>
                <img src="https://www.vsp.ru/files/2015/07/14/36412.jpg"
                 alt="тут дожна быть картинка сосуда"
                 width="150px">
                <figcaption>название сосуда</figcaption>
            </figure>
            <figure>
                <img src="https://www.vsp.ru/files/2015/07/14/36412.jpg"
                 alt="тут дожна быть картинка сосуда"
                 width="150px">
                <figcaption>название сосуда</figcaption>
            </figure>
            <figure>
                <img src="https://www.vsp.ru/files/2015/07/14/36412.jpg"
                 alt="тут дожна быть картинка сосуда"
                 width="150px">
                <figcaption>название сосуда</figcaption>
            </figure>
         </article>
        <article>
                        <figure>
                <img src="https://www.vsp.ru/files/2015/07/14/36412.jpg"
                 alt="тут дожна быть картинка сосуда"
                 width="150px">
                <figcaption>название сосуда</figcaption>
            </figure>
            <figure>
                <img src="https://www.vsp.ru/files/2015/07/14/36412.jpg"
                 alt="тут дожна быть картинка сосуда"
                 width="150px">
                <figcaption>название сосуда</figcaption>
            </figure>
            <figure>
                <img src="https://www.vsp.ru/files/2015/07/14/36412.jpg"
                 alt="тут дожна быть картинка сосуда"
                 width="150px">
                <figcaption>название сосуда</figcaption>
            </figure>
        </article>
    </main>


    <footer>
        <hr>
        <small>made by KengPenro (this part)</small>
    </footer>
    <!-- <h1>Hello, World!</h1>
    <p>Welcome to the main page of the Surprise Vessels application.</p>
    <p>It is very empty now</p> -->

</body>
</html>

