{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест "Какой ты сосуд" - Все сосуды с секретом</title>
    <link rel="stylesheet" href="{% static 'style.css' %}?{% now 'U' %}">
</head>
<body>
    <header class="top" method>
        <p class="top_text">Все сосуды с секретом.ком</p>
        <nav class="navigation_panel">
            <a class="abutton" href="{% url 'main_page' %}">Главная</a>
            <a class="abutton" href="{% url 'vessels_page' %}">Все Сосуды</a>
            <a class="abutton" href="{% url 'categories_page' %}">Категории</a>
        </nav>
    </header>
    
    <main>
        <form action="{% url 'views.' %}" method="post">
            {% for q in questions %}
                {% for ans in answers|get_item:q.id  %} 
                    <p>{{ans}}</p> 
                {%endfor%}
            {%endfor%} 
        </form>
    </main>
    
    <footer>
        <hr>
        <small>Made by KengPenro (this part)</small>
    </footer>
</body>
</html>