<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Document</title>
   <link rel="stylesheet" href="/static/style.css?{% now "U" %}"/>
</head>
<body>
    <header class="top"> Все сосуды с секретом.ком
         <nav class="navigation_panel">
             <a class="abutton" href="/categories">Категории</a>
             <a class="abutton" href="/">Главная</a>
             <a class="abutton" href="/poll">Опросик</a>
         </nav>
    </header>

    <main>
        {%for vess in vesslist%}
            <figure>
            <img decoding="async" src="{{vess.image}}"
            alt="тут дожна быть картинка сосуда"
            width="150px">
                <figcaption>{{vess.name|truncatechars:18}}</figcaption>
            </figure>
        {%endfor%}
    </main>
         
    <footer>
        <hr>
        <small>made by KengPenro (this part)</small>
    </footer>
</body>
</html>