<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="top"> это будет хедер
         <nav>
             <a href="/categories">Категории</a>
             <a href="/">Главная</a>
             <a href="/poll">Опросик</a>
         </nav>
    </header>


    <footer>
        <hr>
        <small>made by KengPenro (this part)</small>
    </footer>
</body>
</html>